*{
  background-color: rgba(15, 2, 20, 0.014);
}
.image img {
margin-left: 200px;
border-radius: 10px 100px / 120px;

}
.text{
  text-align: center;
  text-decoration: solid;
  text-size-adjust: large ;
}